<table class="pretty">
  <tr>
  <%- for attribute in model_attributes -%>
  	<%- unless @paperclip_name.include?(attribute.name) -%>
  	<th><%%= sort_link @search, :<%= attribute.name %> %></th>
  	<%- else -%>
  	<th><%= attribute.name %></th>
  	<%- end -%>
  <%- end -%>
  <%- if action? :show -%>
	<th></th>
  <%- end -%>
  <%- if action? :edit -%>
	<th></th>
  <%- end -%>
  <%- if action? :destroy -%>
	<th></th>
  <%- end -%>
  </tr>
<%% for <%= instance_name %> in @<%= instances_name %> %>
	<tr>
<%- for attribute in model_attributes -%>
<%- if @paperclip_name.include?(attribute.name) -%>
		<td><%%= image_tag <%= instance_name %>.<%= attribute.name %>.url %></td>
<%- elsif @tinymce_name.include?(attribute.name) -%>
		<td><%%= raw <%= instance_name %>.<%= attribute.name %> %></td>
<%- else -%>
		<td><%%= <%= instance_name %>.<%= attribute.name %> %></td>
<%- end -%>
<%- end -%>
<%- if action? :show -%>
		<td>
<%= generate_action_links(:read, instance_name, "Show", instance_name) %>
		</td>
<%- end -%>
<%- if action? :edit -%>
		<td>
<%= generate_action_links(:update, instance_name, "Edit", "edit_#{singular_table_name}_path(#{instance_name})") %>
		</td>
<%- end -%>
<%- if action? :destroy -%>
		<td>
<%= generate_action_links(:destroy, instance_name, "Destroy", instance_name) %>
		</td>
<%- end -%>
	</tr>
<%% end %>
</table>

<p><%%= will_paginate @<%= instances_name %> %></p>