<%% title "<%= singular_name.titleize %>" %>

<%- for attribute in model_attributes -%>
<p>
	<strong><%= attribute.human_name.titleize %>:</strong>
	<%- unless @paperclip_name.include?(attribute.name) -%>
	<%%= @<%= instance_name %>.<%= attribute.name %> %>
	<%- else -%>
	<%%= @<%= instance_name %>.<%= attribute.name %>.url %>
	<%- end -%>
</p>
<%- end -%>

<p>
<%- if action? :edit -%>
<%= generate_action_links(:update, item_path(:instance_variable => true), "Edit", item_path(:action => :edit, :instance_variable => true)) %> |	
<%- end -%>
<%- if action? :destroy -%>
<%= generate_action_links(:destroy, item_path(:instance_variable => true), "Destroy", item_path(:instance_variable => true)) %> |	
<%- end -%>
<%- if action? :index -%>
<%= generate_action_links(:index, singular_name.titleize, "View All", items_path) %>	
<%- end -%>
</p>