<% title "Reset your Password" %>

<%= form_tag create_user_reset_password_path do %>
	<%= hidden_field_tag :id, @user.id %>
	<%= hidden_field_tag :token, @user.token %>
	<p>
	  <%= label_tag :password %><br />
	  <%= password_field_tag :password %>
	</p>
	<p>
	  <%= label_tag :password_confirmation %><br />
	  <%= password_field_tag :password_confirmation %>
	</p>
	<p><%= submit_tag "Update my password" %></p>
<% end %>

<p>
	I already remember my password! <%= link_to "Sign in", new_user_session_path %>
</p>
