<% title "Messages" %>

<%= render "head" %>

<div>
	<%= render :partial => "tabs_panel" %>
	<div id="tabs-messages" style="padding-top:50px;">
		<%= form_tag create_messages_path, :method => :post do %>
			<h3><%= @message.subject %></h3>
			<div>
				<h5><%= raw @message_description %></h5>	
				<p><%= @message.body %></p>
			</div>
		<% unless params[:messagebox] == "outbox" %>
			<p>
			    <%= label_tag :body, "Reply Message" %><br />
				<%= text_area_tag :body, nil, :rows => 20, :cols => 55 %>
			</p>
			<p>
				<%= submit_tag "Reply", :class => "submit" %>
			</p>
			<%= hidden_field_tag :user_tokens, @user_tokens %>
			<%= hidden_field_tag :subject, @message.subject %>
		<% end -%>
		<% end -%>
    </div>   
</div>








