%table{:class => "pretty"}
	%tr
	<%- for attribute in model_attributes -%>
		%th= sort_link @search, :<%= attribute.name %>
	<%- end -%>
	<%- if action? :show -%>
		%th
	<%- end -%>
	<%- if action? :edit -%>
		%th
	<%- end -%>
	<%- if action? :destroy -%>
		%th
	<%- end -%>
	- for <%= instance_name %> in @<%= instances_name %>
		%tr
	<%- for attribute in model_attributes -%>
			%td= <%= instance_name %>.<%= attribute.name %>
	<%- end -%>
	<%- if action? :show -%>
			- if can? :read, <%= instance_name %>
				%td= link_to 'Show', <%= instance_name %>
	<%- end -%>
	<%- if action? :edit -%>
			- if can? :update, <%= instance_name %>
				%td= link_to 'Edit', <%= item_path :action => :edit %>
	<%- end -%>
	<%- if action? :destroy -%>
			- if can? :destroy, <%= instance_name %>
				%td= link_to 'Destroy', <%= item_path %>, :confirm => 'Are you sure?', :method => :delete
	<%- end -%>

%p= will_paginate @<%= plural_name %>