<%- unless @ckeditor_name.empty? -%>
<%% content_for(:head) do %>
	<%%= javascript_include_tag :ckeditor %>
<%% end %>
<%- end -%>
<%%= simple_form_for @<%= instance_name %><%= ", :html => { :multipart => true }" unless @carrierwave_name.empty? -%> do |f| %>
  <%%= f.error_messages %>

	<div class="inputs">
	<%- for attribute in model_attributes -%>
	  <%- if @ckeditor_name.include?(attribute.name) -%>
	  <%%= f.ckeditor :<%= attribute.name %>, :label => false, :input_html => { :height => 400, :toolbar=>'Full' } %>	  
	  <%- else -%>
	  <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
	  <%- end -%>
	<%- end -%>
	</div>
	
	<div class="actions">
    	<%%= f.button :submit %>
  	</div>
<%% end %>