<%- if has_type? :editor -%>
<%% content_for(:head) do %>
	<%%= javascript_include_tag :ckeditor %>
<%% end %>
<%- end -%>
<%%= simple_form_for <%= record_or_name_or_array %><%= ", :html => { :multipart => true }" if has_type? :image -%> do |f| %>
  <%%= f.error_messages %>
	<div class="inputs">
	<%- for attribute in model_attributes -%>
	  <%- if special_select(:editor).include?(attribute.name) -%>
	  <%%= f.ckeditor :<%= attribute.name %>, :label => false, :input_html => { :height => 400, :toolbar=>'Full' } %>	  
	  <%- else -%>
	  <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
	  <%- end -%>
	<%- end -%>
	</div>
	<div class="actions">
    	<%%= f.button :submit %>
  	</div>
<%% end %>