<table class="pretty">
  <tr>
  <%- for attribute in model_attributes -%>
  	<th><%%= sort_link @search, :<%= attribute.name %> %></th>
  <%- end -%>
  <%- if action? :show -%>
	<th></th>
  <%- end -%>
  <%- if action? :edit -%>
	<th></th>
  <%- end -%>
  <%- if action? :destroy -%>
	<th></th>
  <%- end -%>
  </tr>
<%% for <%= instance_name %> in <%= instances_name('@') %> %>
	<tr>
<%- for attribute in model_attributes -%>
<%- if special_select(:image).include?(attribute.name) -%>
		<td><%%= image_tag <%= instance_name %>.<%= attribute.name %>_url(:small) if <%= instance_name %>.<%= attribute.name %>? %></td>
<%- elsif special_select(:file).include?(attribute.name) -%>
		<td><%%= link_to File.basename(<%= instance_name %>.<%= attribute.name %>.to_s), <%= instance_name %>.<%= attribute.name %>_url if <%= instance_name %>.<%= attribute.name %>? %></td>
<%- elsif special_select(:editor).include?(attribute.name) -%>
		<td><%%= raw <%= instance_name %>.<%= attribute.name %> %></td>
<%- else -%>
		<td><%%= <%= instance_name %>.<%= attribute.name %> %></td>
<%- end -%>
<%- end -%>
<%- if action? :show -%>
		<td>
<%= generate_action_links(:show, :read, instance_name, "Show") %>
		</td>
<%- end -%>
<%- if action? :edit -%>
		<td>
<%= generate_action_links(:edit, :update, instance_name, "Edit") %>
		</td>
<%- end -%>
<%- if action? :destroy -%>
		<td>
<%= generate_action_links(:destroy, :destroy, instance_name, "Destroy") %>
		</td>
<%- end -%>
	</tr>
<%% end %>
</table>

<p><%%= paginate <%= instances_name('@') %> %></p>