<%% title "<%= plural_name.titleize %>" %>

<%%= form_for @search, :url => <%= generate_route_link(:action => :index, :suffix => 'url') %>, :html => {:id => "index_search", :method => :get} do |f| %>
	<%%= f.text_field :<%= model_attributes[0].name %>_contains, :title => "Search by <%= model_attributes[0].name %>" %>
<%% end %>

<div id="index_table"><%%= render 'table' %></div>

<%- if action? :new -%>
<p>
<%= generate_action_links(:new, :create, class_name, "New #{simple_name}") %>
</p>
<%- end -%>